body {
    background-color: #F4CC70;
}


header {
    font-size: 30px;
    height: 150px;
    margin: 0 auto;
    border-radius: 20px;
    font-family: 'Gamja Flower', cursive;
    border-style: 3px solid black;
    color: #DE7A22;
}
.container {
 
    background-color: #DE7A22;
    height: 500px;
    width: 850px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gamja Flower';
    font-size: 20px;
    max-width: 800px;


}

.description {
    background-color: #20948B;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-family: 'Gamja Flower';
    color: black;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.game-area {
    text-orientation: center;

}

p {
    font-size: 20px;
}

.letters {
    font-size: 50px;
    background-color: red;
}

.guessWordArea p {
    font-size: 30px;
    padding-top: 5px;
    margin: 5px 0 5px 0;
}

.enterWordArea p {
    font-size: 30px;
    padding-top: 5px;
    margin: 5px 0 5px 0;
}
